img{
    height: 200px;
    width: 200px;
    border-radius: 150px;
}

  

#title{
    border-bottom: 4px solid brown;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(219, 86, 86);
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   width: 400px; 
   background-color: aqua;
   padding: 40px; 
   border-radius: 20px;
   border: 2px solid rgb(212, 36, 16);
}
.container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   
  
}

.fname,.lname, .email{
    letter-spacing: 1px;
    color: rgb(37, 0, 2);
}

